# Pact Broker (acceso)
PACT_BROKER_BASE_URL=http://localhost:9292
PACT_BROKER_USERNAME=ci
PACT_BROKER_PASSWORD=ci
PACT_BROKER_READONLY_USERNAME=dev
PACT_BROKER_READONLY_PASSWORD=dev

# Postgres (solo para el broker)
POSTGRES_USER=pact
POSTGRES_PASSWORD=pact
POSTGRES_DB=pact
